* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#back {
  height: 100vh;
  width: 100%;
  background-color: rgb(86, 99, 219);

  h3 {
    padding: 20px 0px;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 2em;
  }

  form {
    margin-top: 20px;
    text-align: center;

    input {
      width: 30%;
      height: 4vh;
      border-radius: 10px;
    }
    #date,
    #time {
      width: 150px;
    }

    #btn_add,
    #btn_clear {
      width: 5%;
      height: 4vh;
      background-color: blue;
      color: white;
      border-radius: 10px;
      font-weight: bold;
    }
    #btn_clear {
      background-color: red;
    }
  }
  h4 {
    text-align: center;
    margin-top: 40px;
    color: white;
    font-size: 1.5em;
  }
  #content {
    margin: 10px auto auto auto;
    height: auto;
    width: 70%;
    border-width: 10px 0 0 0;
    border-style: solid;
    border-color: blue;

    ul {
      list-style-type: none;

      li {
        background-color: rgb(72, 146, 175);
        padding-left: 20px;
        margin: 0 0 10px 0px;
        color: #fff;
        border-width: 0 0 0 10px;
        border-color: rgb(204, 160, 65);
        border-style: solid;
        

        span {
          float: right;
        }
      }
    }
  }
}
